.carousel__container {
    width: 100%;
    /* transform: translateX(2) ease-out 0.3s; */
}

.carousel__cardContainer{
    max-width: 100%;
    width: 399px;
    height: 399px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px;
}